<div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">Admin Panel</div>
    <div class="list-group list-group-flush">
        <a href="{{ url_for('superman.chartman') }}" class="list-group-item list-group-item-action bg-light">대시보드</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">사용자 관리</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">상품 관리</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">주문 관리</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">통계</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">설정</a>
    </div>
</div>
